
body{
    font-size: 20px;
    font-family: arial, sans-serif;
}

.navbar {
    background-color: rgb(191, 216, 210);
}

.quem-somos {
    background-color: #fedcd2;
    color: white;
}

.parceiros {
    background-color: #fa9e79;
    color: white;
}

.serviços {
    background-color: #fcad79;
    color: white;
}

.margin {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-footer {
    background-color: rgb(253, 253, 253);
    color: black;
}